:root {
  --dark-color: black;
  --light-color: lightgrey;
  --med-color: rgb(51, 66, 89);
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: var(--dark-color);
  margin: 0;
  padding: 0;
  font-family: Helvetica,'Arial Narrow',Arial, Helvetica, sans-serif;
}

/* default parameters for flex */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* section styling */

.section-title {
  color: var(--med-color);
  margin: 10px 5px 0px 0px;
  font-size: 20px;
  flex-basis: 20%;
}

.section-title h2 {
  text-align: right;
  margin: 0;
}

.section-content {
  margin: 0 30px 10px 0 ;
  flex-basis: 70%;
}

/* clean ul styling & text decoration*/

ul {
  list-style: none;
}

header a,
#contact-me a {
  text-decoration: none;
  color: inherit;
}

h1, h2,h3 {
  font-weight: normal;
}

/* header */

header {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0 10px;
}

header h1 {
  text-align: left;
}

header nav ul {
  align-items: center;
}

header nav ul li {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* hero */

#hero {
  background-image: url('../images/hero-alt.jpeg');
  min-height: 200px;
  margin-bottom: 25px;
}

/* about me */
#about-me h2 {
}

/* projects */

.project-list {
  padding: 0;
}

.project {
    background-color: var(--med-color);
    margin: 15px 20px 0 0; 
    /* width: 400px; */
    min-height: 250px;
    background-size:cover;
    flex: 1;
}

#other-projects {
    flex-basis: 100%;
    justify-content: space-between;
}

.project div {
  margin: 5px;
}

#spotlight {
 background-image: url(../images/spotlight.png);
}

#project-1 {
  background-image: url(../images/spotlight.png);
 }

 #project-2 {
  background-image: url(../images/spotlight.png);
 }

 #project-3 {
  background-image: url(../images/spotlight.png);
 }

 #project-4 {
  background-image: url(../images/spotlight.png);
 }

/* contact me */

#contact-info {
  padding: 0 30px 0 0;
}

/* footer */

footer h2 {
  background-color: var(--dark-color);
  font-size: 20px;
  margin: 0;
  padding: 10px;
  color: var(--light-color);
  text-align: center;
}
