:root {
  --dark-color: black;
  --light-color: lightgrey;
  --med-color: rgb(51, 66, 89);
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  font-family: Helvetica,'Arial Narrow',Arial, Helvetica, sans-serif;
}

/* default parameters for flex */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* section styling */
section {
  margin-bottom: 25px;
}

.section-title {
  color: var(--med-color);
  margin: 10px 5px 0px 0px;
  padding: 10px;
  font-size: 20px;
  flex-basis: 20%;
  border-right: 5px solid var(--dark-color);
}

.section-title h2 {
  text-align: right;
  margin: 0;
}

.section-content {
  margin: 0 30px 10px 0 ;
  flex-basis: 70%;
}

/* clean ul styling & text decoration*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2,h3 {
  font-weight: normal;
}

/* header */

header {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0 10px;
}

header h1 {
  text-align: left;
}

#heading img{
  max-height:50px;
  align-self: center;
  padding-left: 10px;
}


header nav ul {
  align-items: center;
  margin-bottom: 2px;
}

header nav ul li {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* hero */

#hero {
  background-image: url('../images/hero-alt.jpeg');
  min-height: 200px;
  margin-bottom: 25px;
}

/* about me */

/* #about-me-bio {
  max-height: 300px;
} */

/* #about-me-bio img{
  max-height: 200px;
  align-self: center;
}*/

#about-me-bio p {
  font-size: 20px;
  text-align: center;
  /* flex-basis: 75%; */
} 


/* projects */

.project-list {
  padding: 0;
}

.project {
    background-color: var(--med-color);
    margin: 15px 0 0 0; 
    min-height: 250px;
    background-size:cover;
    flex-basis: 48%;
    display: flex;
    align-items:flex-end;
    border-radius: 10px;
    border: 5px solid var(--dark-color);
}

.project-bio {
  background-color: var(--light-color);
  height: fit-content;
  width: fit-content;
  margin: 0;
  border: 5px solid var(--med-color);
  padding: 0 5px 2px 5px;
  white-space:nowrap;
  border-radius: 0 10px 0 4px;
}

.project-bio h3 {
  font-size: 20px;
  margin: 0 0;
  border-bottom: 1px solid var(--med-color);
  max-width: fit-content;
  padding-bottom: .5px;
}

.project-bio h4 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
}

#other-projects {
  flex-basis: 100%;
  justify-content: space-between;
}

#spotlight .project-bio h3 {
  font-size: 25px;
}


#spotlight .project-bio h4 {
  font-size: 20px;
}

#spotlight {
 background-image: url(../images/spotlight.png);
}

#project-1 {
  background-image: url(../images/spotlight.png);
 }

 #project-2 {
  background-image: url(../images/spotlight.png);
 }

 #project-3 {
  background-image: url(../images/spotlight.png);
 }

 #project-4 {
  background-image: url(../images/spotlight.png);
 }

/* contact me */

#contact-info {
  padding: 0 30px 0 0;
}

#contact-info.section-content {
  margin-bottom: 0;
}

#contact-info ul li {
  text-decoration: underline;
}

/* footer */

footer {
  margin-top: 25px;
}

footer h2 {
  background-color: var(--dark-color);
  font-size: 20px;
  margin: 0;
  padding: 10px;
  color: var(--light-color);
  text-align: center;
}
